backend/.idea/
backend/zapret-discord-youtube-main/
.DS_Store
frontend/.idea/
frontend/node_modules/
backend/ffmpeg/
backend/cookies1.txt
ins.md
# Python virtual environments
venv/
.venv/
backend/venv/
__pycache__/
*.pyc
